*{
    margin: 0;
    padding: 0;
}

body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.titulo{
    color: #fff;
}


video{
    width: 100%;
    border-radius: 1rem;
}

.videoListado{
    cursor: pointer;
}

.videoContainer{
    background-color: rgba(31, 148, 184, 0.808);
    padding: 3rem;
}

.button{
    background-color: #fff;
    padding: 1rem;
    border-radius: 1rem;
}
